<!-- extends -->
{% extends "detailprod_base.html" %}
<!-- load -->
{% load static %}
<!-- load -->
{% load humanize %}
<!-- Banner -->
{% block content %}

<!-- Home -->

<div class="single_product">
		<div class="container">
			<div class="row">

				<!-- Selected Image -->
				<div class="col-lg-5 order-lg-2 order-1">
					<div class="image_selected"><img src="{{single_prod.image.url}}" alt="single_prod.slug"></div>
				</div>

				<!-- Description -->
				<div class="col-lg-5 order-3">
					<div class="product_description">
						<div class="product_category">{{single_prod.category.name}}</div>
						<div class="product_name">{{single_prod.name}}</div>
						<div class="product_text">
							<p>
								{% for t in single_prod.tags.all %}
									<a class="badge badge-pill badge-primary p-2" href="/shop/loai-sim/{{t.id}}">{{t.name}}</a>
								{% endfor %}
							</p>
							<p>{{single_prod.description}}</p>
						</div>
						<div class="order_info d-flex flex-row">
							<form action="/shop/order/" method="post">
								{% csrf_token %}
								<div class="product_price">{{ single_prod.get_saleprice|floatformat:0|intcomma:False }} VNĐ</div>
								<div class="button_container">
										<input type="hidden" name="hiddenID" value="{{single_prod.id}}">
										<input type="text" name="address" class="form-control mb-3" placeholder="Địa chỉ nhà">
										<button type="submit" class="button cart_button">Đặt</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}
